/.metadata
/RemoteSystemsTempFiles
/assignment-01.zip
/assignment-02.zip
/assignment-03.zip
/assignment-04.zip
/unit-tests.zip
/.recommenders
/assignment-08.zip
/assignment-10.zip
/skeletons.7z
/unit-tests.7z
